*{
    background: black;
    color: white;
    scroll-behavior:smooth;
    
    
}
body {
    margin: 5px;
    padding: 2px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    
}

a{
    text-decoration: none;
    text-decoration: underline skyblue;
    list-style: none;
}
li{
    margin-bottom: 5px;
}
details{
    cursor: pointer;
}
img{
    width: 50%;
    height:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


details summary::marker {
    content: "► "; 
    font-size: 1em; 
}

details[open] summary::marker {
    content: "▼ "; 
}
h3,th{
    color: skyblue;
    font-size: 18px;
    margin-bottom: 10px;
}
h1{
    text-align: center;
    color: skyblue;
    font-size: 24px;
    margin-bottom: 10px;
}
u{
    color: skyblue;
}
hd{
    font-size: 18px;
    color: skyblue;
}
.ans{
    color: yellow !important;
}
mark{
    background-color: yellow;
    color: black;
}
summary{
    text-decoration: underline skyblue;
    
}
fieldset{
    margin:20px 20px;
}
p{
    margin: 20px 2px;
}
legend,th{
    color: cyan;
}
table{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 80%;
}
.btn{
    
    
    background-color: cyan;
    color: black;
    cursor: pointer;
    border-radius: 100%;
    font-size: 18px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 50px;
    
}
.program, .code-display{
    background-color: blue;
    color: yellow;
    border: 2px solid grey;
    padding: 10px;
    white-space: pre;
    font-family: monospace;
    
}
.output{
    background-color: black;
    color: yellow;
    border: 2px solid grey;
    padding: 10px;
    white-space: pre;
    font-family: monospace;
    display: inline-block;
    white-space: pre;
}
.output1{
    background-color: grey;
    color: black;
    border: 2px solid grey;
    padding: 10px;
    white-space: pre;
    font-family: monospace;
    
}

.pg{
    font-size:14px;
    color: cyan;
}
.sty{
    color: gold;
}
.box {
    width: 30px;
    height: 20px;
    padding: 20px;
    border: 2px solid #fff;
    margin: 30px;
    box-sizing: border-box;
}
.run{
    background-color: green;
    color: black;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

